body{
	margin: 0px;
}

.flex{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;

} 
h1{
	font-family: 'Charmonman', cursive;
	font-size: "4em" ;
	border-bottom: 5px double #244C00;
	width: 400px;
	border-right: 5px double #244C00;
    -webkit-box-shadow: 4px 5px 4px #888888;
    box-shadow: 4px 5px 4px #888888;
	text-align: center;
	
}
h1{
	color: blue;
}

img{
	width: 400px;
	height: 350px;
	margin: 10px;
	-webkit-transition: all 1s;
	transition: all 1s;

}
img:hover{
-webkit-transform: transform(1.1);
transform: scale(1.1);
}
